@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-font : "Poppins", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --black : black;
    --white : white;
    --primary-accent : #e6dace;
    --secondary-accent : #f4ece6;
    --button-accent : #0050ff;
    --shadow : -15px 5px 20px rgba(0, 0, 0, 0.1);
    --button-gradient: linear-gradient(45deg, var(--primary-accent), var(--secondary-accent));
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}
.square {
    height: 16px;
    width: 16px;
    background-color: var(--button-accent);
}
.montserrat {
    font-family: var(--secondary-font);
}
/* Header and Navigation */
header {
    position: sticky;
    top: 0;
    z-index: 1;
}
header .navbar-brand {
    font-size: clamp(20px, 1.5vw, 50px);
}
.navText:hover {
    color: var(--button-accent) !important;
}
.nav-link {
    color: var(--black) !important;
    transition: color 0.3s ease;
}
.nav-link.active {
    color: var(--button-accent) !important;
}
@media (max-width: 767px){
    .respVisible {
        display: none;
    }
    header {
        position: static;
        z-index: 10;
    }
}
/* Hero Section */
#aboutMe .container-fluid .row {
    background: linear-gradient(to right, var(--primary-accent) 35%, var(--white) 35%, var(--white) 30%);
    min-height: 100vh;
}
.underLineBlue {
    background-color: var(--button-accent);
    width: 70px;
    height: 2px;
}
.roleName {
    letter-spacing: 5px;
}
#aboutMe .card {
    background-color: var(--secondary-accent);
    height: 75vh;
    max-height: 500px;
    max-width: 400px;
    width: 100%;
    box-shadow: var(--shadow);
}
.helloText {
    font-size: clamp(40px, 5vw, 100px);
}
.whatIDo {
    font-size: clamp(20px, 1.5vw, 50px);
}
.myName {
    font-size: clamp(25px, 2vw, 70px);
    font-weight: 700;
}
@media (max-width: 1200px) {
    #aboutMe .container-fluid .row {
        background: linear-gradient(to bottom, var(--white) 20%, var(--primary-accent) 20%, var(--primary-accent) 60%);
    }
}
/* resume section */

@media (max-width: 992px){
#resume .square {
    display: none;
    }
}
.employmentContent {
    background-color: var(--secondary-accent);
    transition: 0.3s ease-in-out;
}
.employmentContent:hover {
    background-color: var(--primary-accent);
    transform: translateY(-5px); 
}
.employmentContent:hover .resumeDate {
        color: var(--button-accent);
}
@media (max-width: 992px) {
    .resumeDate {
        color: var(--button-accent);
    }
}
.skillSet li {
    list-style-type: none;
    position: relative;
    padding-left: 20px;
}
.skillSet li::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 13px;
    height: 13px;
    background-color: var(--button-accent);
}
.headTitle {
    position: relative;
    margin: 50px 0px;
}
.headTitle::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 43%;
    bottom: 10px;
    width: 20px;
    background-color: var(--button-accent);
}
@media (max-width: 1200px){
    .headTitle::before{
        visibility: hidden;
    }
}
/* Projects section */
#projects .container-fluid {
    background-color: var(--primary-accent);
}
.oneTitle {
    background-color: var(--white);
    position: relative;
    box-shadow: var(--shadow);
}
.projectView {
    color: var(--black);
    text-decoration: underline;
    text-underline-offset: 5px;
}
.projectView:hover {
    color: var(--button-accent);
    transition: 0.3s ease-in-out;
    text-underline-offset: 3px;
}
.projectTitle h4 {
    color: var(--button-accent);
    position: relative;
}
.projectTitle h4::before {
    content: "";
    position: absolute;
    left: 0;
    background-color: var(--button-accent);
    width: 10px;
    height: 25px;
}
@media (max-width:1200px){
.projectsImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9;
    }
}
/* animations */
/* button hover animation */
.linkButtons {
    position: relative;
    border: none;
    z-index: 0;
    border: 1px solid var(--secondary-accent);
}
.linkButtons::after {
    content: "";
    z-index: -1;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 30px;
}
.linkButtons::before {
    content: "";
    background: var(--button-gradient);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 30px;
    opacity: 0;
}
.linkButtons:hover {
    border: 1px solid var(--primary-accent)
}
.linkButtons:hover::before {
    opacity: 1;
}
.linkButtons:hover::after {
    background-color: var(--primary-accent);
}
.linkButtons:active::after {
    background-color: transparent;
}
.linkButtons:active {
    color: var(--white) !important;
    font-weight: bold;
    border: 1px solid var(--white);
}
@keyframes glowing {
    0%{background-position: 0 0;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}
}